version: "3"

services:
  discord-musicbot:
    build: .
    image: discord-musicbot:latest
    container_name: discord-musicbot
    restart: unless-stopped
    volumes:
      - ./botconfig.js:/usr/src/app/botconfig.js:ro
